stages:
  - test
  - deploy

test-node-9:
  stage: test
  image: node:9-alpine
  before_script:
    - npm install
    - apk add --no-cache git
  script:
    - npm test
    - $(npm bin)/codecov

test-node-8:
  stage: test
  image: node:8-alpine
  before_script:
    - npm install
  script:
    - npm test

glitch:
  stage: deploy
  image: node:9
  variables:
    GITHUB_REPO: CodeLenny/auto-comment-bot
    GLITCH_DOMAIN: auto-comment-bot
    npm_config_unsafe_perm: "true"
  before_script:
    - apt-get update
    - apt-get install libsecret-1-dev
  script:
    - npx glitch-deploy
  only:
    - master
